/*
 * ===============================================================
 *  ██ ▄█▀ ██ ██     ██ ██      ██ ▄████▄ ██ ▄█▀ ██████ 
 *  ████   ██ ██ ▄█▄ ██ ██      ██ ██▄▄██ ████   ██▄▄   
 *  ██ ▀█▄ ██  ▀██▀██▀  ██   ████▀ ██  ██ ██ ▀█▄ ██▄▄▄▄ 
 * ===============================================================
 *  File      : style.css
 *  Project   : KiwiJake.github.io
 *  Author    : KIWI JAKE
 *  Created   : Mon May 11 2026
 *  Modified  : Mon May 11 2026
 * ===============================================================
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}
