/*
 * ===============================================================
 *  ██ ▄█▀ ██ ██     ██ ██      ██ ▄████▄ ██ ▄█▀ ██████ 
 *  ████   ██ ██ ▄█▄ ██ ██      ██ ██▄▄██ ████   ██▄▄   
 *  ██ ▀█▄ ██  ▀██▀██▀  ██   ████▀ ██  ██ ██ ▀█▄ ██▄▄▄▄ 
 * ===============================================================
 *  File      : style.css
 *  Project   : KiwiJake.github.io
 *  Author    : KIWI JAKE
 *  Created   : Mon May 11 2026
 *  Modified  : Mon May 11 2026
 * ===============================================================
 */

html {
    background: black;
    height: 100%;
    overflow: hidden;

}

body{
    margin: 0;
    padding: 0;
    height: 100%;    
}
